body{
    width: 100%;
    background: url(./images/taylor-van-riper-yQorCngxzwI-unsplash.jpg);
}
.container{
    width:80% ;
    padding-left: 10%;
}

.profile{
  display: flex;
  justify-content: center;
}
.profile{
    display: flex;
    justify-content: center;
  }
  .myImage{
      width: 200px;
      height: 200px;
      padding-left: 100px;
  }
  .citi img{
      float: left;
      padding: 1em;
      
  }
  .text{
      padding-left: 50px;
      padding-top: 4em;
  
  }
  
  table, th,tr,td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
       padding: 10px;
  } 
  table.tab{
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
  }
  
   .heading{
       text-align: center;
       padding-top: 5em;
   }
   .image1{
       float: right;
   }
   
   .image2{
       float: right;
   }
   .image3{
       float: right;
   }
  
   .place1{ 
      padding: 2%;   
       width: 33%;
   }
   .place2{
       padding: 2%;   
       width: 33%;
   }
   .place3{
      padding: 2%;
       width: 33%;
   }
   .side-bar{
       display: flex;
   }
   .lan{
       margin-top: 10%;
   }
   @media only screen and (max-width:688px) and (min-width:0px){
    .side-bar{
        display: block;
    }
    .place1 img{
        float: right;
        width: 40%;
        padding: 1em;
    }
    .place2 img{
        float: left;
        width: 40%;
        padding: 1em;
    }
    .place3 img{
        float: right;
        width: 40%;
        padding: 1em;
    }
    .place1 {
        width: 80%;
    }
    .place2 {
        width: 80%;
    }
    .place3 {
        width: 80%;
    }   
  